<%if user_signed_in?%>
	<%if @access_documents.any?%>
	<h3>Shared With Me</h3>
	<!-- file show  -->
		<div class="row mx-2">
			
			<%@access_documents.each do |document|%>
				<div class="col-md-2 ">		
					<div class="card bg-light border-success text-center custom-card">
						<div class="card-header p-1">
							<%=UserDocument.find(document.doc_id).document_file_name%>
						</div>
						<div class="card-body p-2">
							<div>
								<i class="fa fa-file-pdf-o fa-4x"></i>
							</div>
							<%=User.find(document.owner_id).email%>
						</div>
						<div class="card-footer p-1">
							<span  data-id=<%=document.doc_id%> data-toggle="modal" data-target="#viewPdf" data-toggle="tooltip" data-placement="bottom" title="View">
								<i class="fa fa-eye fa-lg"></i>
							</span>
							<%=link_to share_path(document),method: :delete,data: {confirm: "Are you sure want to unaccess Document?"} do  %>
								<i class="fa fa-chain-broken fa-lg" style="color: black;" data-toggle="tooltip" data-placement="bottom" title="Unaccess"></i>	
							<%end%>
							
						</div>
					</div>
				</div>
			<%end%>
				
		</div>
		<!-- file show end -->
		<div class="row mx-auto mt-5">
			<%=paginate @access_documents,param_name: :user_documents%>
		</div>
		
	<%end%>
<%else%>
	<h3>Please signed in to create document or view your documents</h3>
<%end%>

<%=render "shared/viewpdf" %>

