<div class="row mx-2 ">	
	<%if @folders%>
		<% @folders.each do |folder|%>
			<div class="col-auto">
				<div class="container-fluid ">
					
					<div class=" card bg-light border-success  text-center custom-card " >
						<div class="card-header p-1 folder-icon">
							<input type="text" onchange="changeFolder(<%= folder.id %>)" id="folderName<%=folder.id%>" class="" style="border: none;background-color:rgba(0, 0, 0, 0.03);" value="<%=folder.name%>" >
						</div>
						
						<div class="card-body p-2 folder-icon" ondrop="dropFolder(event,<%=folder.id%>)" ondragover="allowFolderDrop(event)">
							<div class="row">
								<div class="col-3">
									<%if folder.password.nil?%>
										<i class="fa fa-unlock fa-lg"></i>
									<%else%>
										<i class="fa fa-lock fa-lg"></i>
									<%end%>
								</div>
								<div class="col-6" onclick="checkPassword('<%=folder.password.nil?%>','<%=folder.id%>');" >
									<form action="/showfolder" method="post" id="passwordForm<%=folder.id%>">
										<span  >
												<i class="fa fa-folder-o fa-4x folder-icon" draggable="true" ondragstart="dragFolder(event,<%=folder.id%>)" ></i>
										</span>
										<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
										<input type="hidden" name="password" id="hiddenPassword<%=folder.id%>">
										<input type="hidden" name="folder_id" value=<%=folder.id%> >
									</form>
								
								</div>
									
							</div>
								
						</div>

						<div class="card-footer p-1">
							<%if folder.user==current_user%>
								<%=link_to folder_path(folder.id),method: :delete,data: {confirm: "Are you sure want to delete this folder"} do%>
									<i class="fa fa-trash-o fa-lg" style="color: black;" data-toggle="tooltip" data-placement="bottom" title="Delete"></i>

								<%end%>
							<%end%>
							<span  data-id=<%=folder.id%> data-toggle="modal" data-target="#shareFolder" data-toggle="tooltip" data-placement="bottom" title="Share Folder">
								<i class="fa fa-share fa-lg folder-icon"></i>
							</span>
							<%if folder.user==current_user%>
								<span  data-id=<%=folder.id%> data-toggle="modal" data-target="#passwordFolder" data-toggle="tooltip" data-placement="bottom" title="Password Protect Folder">
									<i class="fa fa-key fa-lg"></i>
								</span>
							<%end%>
								
							
							
						</div>
					</div>
					

				</div>
				
			</div>

		<% end%>
	<%end%>

	<%if @documents%>
	<!-- file show  -->
		<%@documents.each do |document|%>
			<div class="col-auto" >
				<div class="container-fluid">
					<div class=" card bg-light border-success  text-center custom-card">
						<div class="card-header p-1" >
							<input type="text" onchange="changeName(<%= document.id %>)" id="fileName<%=document.id%>" class="w-75"  style="border: none;background-color:rgba(0, 0, 0, 0.03);" value="<%=document.document_file_name%>" >
							
						</div>
						<div class="card-body p-2 ">
							<i class="fa fa-file-pdf-o fa-4x" draggable="true" ondragstart="dragFile(event,<%=document.id%>)"></i>
						</div>
						<div class="card-footer p-1">
							<%if document.user==current_user%>
								<%=link_to home_path(document.id),method: :delete,data: {confirm: "Are you sure want to delete this file"} do%>
									<i class="fa fa-trash-o fa-lg" style="color: black;" data-toggle="tooltip" data-placement="bottom" title="Delete"></i>
								<%end%>
							<%end%>
							<span  data-id=<%=document.id%> data-toggle="modal" data-target="#viewPdf" data-toggle="tooltip" data-placement="bottom" title="View">
								<i class="fa fa-eye fa-lg" ></i>
							</span>
							<span  data-id=<%=document.id%> data-toggle="modal" data-target="#sharePdf" data-toggle="tooltip" data-placement="bottom" title="Share File">
								<i class="fa fa-share fa-lg"></i>
							</span>
							
						</div>
					</div>

				</div>
				
			</div>
		<%end%>
			<!-- </div>	 -->
		
		<!-- file show end -->
		<div class="row mx-2 mt-5">
			<%=paginate @documents,param_name: :user_documents%>
		</div>
	<%end%>
	<%if @documents.empty? && @folders.empty?%>

		<div class="col-12">
			<h3> Folder is empty</h3>
		</div>
		
	<%end%>
	<%= render "shared/sharefolder"%>
	<%=render "shared/viewpdf" %>
	<%=render "shared/sharepdf" %>
</div>

	<div class="modal fade" id="passwordFolder" tabindex="-1" role="dialog" aria-labelledby="passwordFolderLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="passwordFolderLabel">Password Protect Folder</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
      		<div class="form-group folder-password-form w-5">
						<%= form_tag(controller: "folder" ,action: "folderpassword", method: "post") do %>
						  <%= label_tag(:password,"Folder Password:") %>
							<%=password_field_tag :password,'',class: "form-control"%>
						  <%=hidden_field_tag(:folder_id,nil,id: "hiddenFolderId")%>
						  <%= submit_tag("submit",class: "btn btn-info m-1") %>
						<% end %>
	      	</div>
      	</div>
      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
		</div>
	</div>		

	

	