<h1>User's Home</h1>

<%if user_signed_in?%>
	<%= link_to "New Document",new_home_path%>
	<%if @user_documents%>
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Documents name</th>
							<th>File size(Kb)</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<%@user_documents.each do |document|%>
						<tr>
							<td><%=document.document_file_name%></td>
							<td><%=document.document_file_size%></td>
							<td>
								<%=link_to "Delete",home_path(document.id),method: :delete,data: {confirm: "Are you sure want to delte file?"},class: "btn btn-danger"%>
								<%#=link_to "view",home_path(document.id),class: "btn btn-info"%>
								<button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewPdf">View</button>
								<div id="viewPdf" class="modal fade" role="dialog">
								  <div class="modal-dialog">

								    <!-- Modal content-->
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title">Document pdf</h4>
								      </div>
								      <div class="modal-body">
								      	<object type="application/pdf" data=<%=home_path(document.id)%> width="100%" height="500" style="height: 85vh;">No Support</object>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
								    </div>
								 	</div>
								</div>
							</td>
						</tr>
						<%end%>
					</tbody>
				</table>
			</div>
			<div class="col-sm-2">
				
			</div>

		</div>
		
	<%end%>
	<br>
	

<%else%>
	<h3>Please signed in to create document or view your documents</h3>
<%end%>




