<h1>User's Home</h1>

<%if user_signed_in?%>
	<%= link_to "New Document",new_home_path%>
	<%if @user_documents%>
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Documents name</th>
							<th>File size(Kb)</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<%@user_documents.each do |document|%>
						<tr>
							<td><%=document.document_file_name%></td>
							<td><%=document.document_file_size%></td>
							<td>
								<%=link_to "Delete",home_path(document.id),method: :delete,data: {confirm: "Are you sure want to delte file?"},class: "btn btn-danger"%>
								<button type="button" class="btn btn-primary" data-id=<%=document.id%> data-toggle="modal" data-target="#viewPdf">
								  View
								</button>

								<!-- Modal -->
								<div class="modal fade" id="viewPdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title" id="exampleModalLabel">Your Document</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								      <div class="modal-body">
								     
								        <object type="application/pdf" id="pdfObject" data="" width="100%" height="500" style="height: 85vh;">No Support</object>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								      </div>
								    </div>
									</div>
								</div>
							</td>
						</tr>
						<%end%>
					</tbody>
				</table>
			</div>
			<div class="col-sm-2">
				
			</div>

		</div>
		
	<%end%>
	<br>
	

<%else%>
	<h3>Please signed in to create document or view your documents</h3>
<%end%>

								
