<!DOCTYPE html>
<html>
  <head>
    <title>UserPdf</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render "shared/nav"%>
    <div class="container-fluid">
    	<div class="alert" role="alert">
        <% if flash[:notice] %>
  	  	  <div class="alert-success" ><%= notice %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert-danger"><%= alert %></div>
        <% end %>
    	</div>
      
      <%= yield %>
    </div>
  </body>
</html>
