<!DOCTYPE html>
<html>
  <head>
    <title>UserPdf</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application','https://fonts.googleapis.com/css?family=Roboto', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <div class="container-fluid">
      <%=render "shared/nav"%>
      <%if user_signed_in?%>

        <%=render "shared/sidebar"%>
        <%unless @shared_documents || @access_documents %>
          <%=render partial: "shared/secondarynav",locals: {parent_folder: @root_folder }%>
        <%end%>
          
      <%end%>
      
      <div class="row "> 
        <%if user_signed_in?%>
          <div class="col-12" >
            <div class="alert col-auto" role="alert">
              <% if flash[:notice] %>
                <div class="alert-success" ><%= notice %></div>
              <% end %>
              <% if flash[:alert] %>
                <div class="alert-danger"><%= alert %></div>
              <% end %>
            </div>
            <%= yield %>

          </div>  
        <%else%>

          <div class="col-12  text-center">
            
              <% if flash[:notice] %>
                <div class="alert-success " ><%= notice %></div>
              <% end %>
              <% if flash[:alert] %>
                <div class="alert-danger "><%= alert %></div>
              <% end %>
           
            <%=yield%>
          </div>
        <%end%>   
         
      </div> 

    </div>
    
  </body>
</html>
