<!DOCTYPE html>
<html>
  <head>
    <title>UserPdf</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application','https://fonts.googleapis.com/css?family=Roboto', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <div class="container-fluid">
      <%=render "shared/nav"%>
      <%if user_signed_in?%>
   
        <%=render "shared/sidebar"%>
        <%unless @shared_documents || @access_documents %>
          
          <%=render partial: "shared/secondarynav",locals: {parent_folder: @root_folder }%>
        <%end%>
          
      <%end%>
      
      <div class="row "> 
        <%if user_signed_in?%>
        <%unless @shared_documents || @access_documents %>
            <div class="col-12 p-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style=" background-color: white;">
                  <li class="breadcrumb-item">
                    <span class="btn btn-outline-secondary btn-sm m-1">
                      <%if @root_folder.parent_id==0%>
                        <%=link_to "Home",home_index_path,style: "color: black; text-decoration: none;"%>
                      <%else%>
                        <%= link_to "Back",folder_path(@root_folder.parent_id),style: "color: black; text-decoration: none;"%>
                      <%end%>
                        
                    </span>
                    
                  </li>
                </ol>
              </nav>
            </div>
          <%end%>
          

          <div class="col-12" >
            <%if flash[:notice] || flash[:alert]%>
              <div class="alert col-auto" role="alert">
                <% if flash[:notice] %>
                  <div class="alert-success" ><%= notice %></div>
                <% end %>
                <% if flash[:alert] %>
                  <div class="alert-danger"><%= alert %></div>
                <% end %>
              </div>
            <%end%>
            <%= yield %>

          </div>  
        <%else%>

          <div class="col-12  text-center">
            
              <% if flash[:notice] %>
                <div class="alert-success " ><%= notice %></div>
              <% end %>
              <% if flash[:alert] %>
                <div class="alert-danger "><%= alert %></div>
              <% end %>
           
            <%=yield%>
          </div>
        <%end%>   
         
      </div> 

    </div>
    
  </body>
</html>
